
{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}



{% block content %}
  <!-- Todo el contenido HTML que actualmente tienes debe ir aquí dentro -->
  <!-- Asegúrate de no duplicar las etiquetas html, head o body ya que estas deberían estar en base.html -->

  <div class="row">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="page-header">
              <h1>Agendar Consulta</h1>
          </div>
          <form class="form-horizontal" method="post">
              {% csrf_token %}
              <fieldset>
                      <label for="{{ form.paciente.auto_id }}" class="col-md-3 control-label">
                      {{ form.Paciente.label }}</label>
                      <div class="col-md-9">
                        {% render_field form.Paciente class="form-control" %}
                      </div>
                    
                    <label for="{{ form.medico.auto_id }}" class="col-md-3 control-label">
                    {{ form.medico.label }}</label>
                    <div class="col-md-9">
                      {% render_field form.medico class="form-control" %}
  
                    </div>
                  
                    <label for="{{ form.dia.auto_id }}" class="col-md-3 control-label">
                    {{ form.dia.label }}</label>
                    <div class="col-md-9">
                      {% render_field form.dia type="date" class="form-control" placeholder="01/01/2022" %}
                    </div>
                  
                    <label for="{{ form.horario.auto_id }}" class="col-md-3 control-label">
                    {{ form.horario.label }}</label>
                    <div class="col-md-9">
                      {% render_field form.horario class="form-control" %}
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                      <br>
                      <button type="submit" class="btn btn-primary">AGENDAR</button>
                    </div>
              </fieldset>
          </form>
      </div>
  </div>
  </div>

  <!-- Mensajes de Django -->
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
  {% endfor %}
  {% endif %}

  {% block scripts %}
  {{ block.super }}
  <!-- Incluir jQuery y Popper.js desde un CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <!-- Incluir Bootstrap JS desde un CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Añadir aquí otros scripts que necesites, si los tienes locales, usa {% static 'path/to/your/script.js' %} -->
{% endblock scripts %}


  

{% endblock content %}


