
{% extends 'base_recepcionista.html' %}

{% load static %}
{% load widget_tweaks %}


{% block content %}
{% if user.is_authenticated %}
<h1>Agregar paciente</h1>
<br>
<form class="form-horizontal" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="exampleInputUsername1">Nombre Mascota</label>
        {{ form.nombre }}
    </div>

    <div class="form-group">
        <label for="" class="control-label">
        Especie</label>
        {{ form.especie }}
    </div>

    <div class="form-group">
        <label for="exampleInputUsername1">Raza</label>
        {{ form.raza }}
    </div>

    <div class="form-group">
        <label for="exampleInputUsername1">Edad</label>
        {{ form.edad }}
    </div>

    <div class="form-group">
        <label for="exampleInputUsername1">Nombre Dueño</label>
        {{ form.nombre_dueño }}
    </div>

    <div class="form-group">
        <label for="exampleInputUsername1">RUN Dueño</label>
        {{ form.run_dueño }}
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Ingresar paciente</button>
    </div>
</form>

<!-- Mensajes de Django -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true"></span>
  </button>
</div>
{% endfor %}
{% endif %}

{% block scripts %}
{{ block.super }}
<!-- Incluir jQuery y Popper.js desde un CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<!-- Incluir Bootstrap JS desde un CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Añadir aquí otros scripts que necesites, si los tienes locales, usa {% static 'path/to/your/script.js' %} -->
{% endblock scripts %}
{% else %}
<h1<>Por favor inicie sesión para ver esta página.</h1>
{% endif %}
     


{% endblock content %}



